
{{#if loggedIn}}
<h1 class="title pb-4">Homepage</h1><hr>

{{#each posts as |post|}}

{{> post-info post }}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">There are currently no posts.</h6>
{{/each}}
{{/if}}            